<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Robinhood Analyzer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% url 'index' as index_url %} 
                {% if request.path == index_url %}
                <li class="nav-item">
                    <a class="nav-link active" href="{{ index_url }}">Home</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ index_url }}">Home</a>
                </li>
                {% endif %}

                {% url 'about' as about_url %}
                {% if request.path == about_url %}
                <li class="nav-item">
                    <a class="nav-link active" href="{{ about_url }}">About</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ about_url }}">About</a>
                </li>
                {% endif %}

                {% url 'contact' as contact_url %}
                {% if request.path == contact_url %}
                <li class="nav-item">
                    <a class="nav-link active" href="{{ contact_url }}">Contact</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ contact_url }}">Contact</a>
                </li>
                {% endif %}
            </ul>
                <button class="btn btn-light me-2" type="login">Login</button>
                <button class="btn btn-primary" type="register">Register</button>
        </div>
    </div>
</nav>